video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.location {
  font-size: 75px;
  color: #00204a;
  padding-top: 10px;
  line-height: normal;
}
.day {
  font-size: 36px;
}
.temperature {
  font-size: 34px;
}
.weatherDescription {
  font-size: 20px;
}
.container {
  display: grid;
  position: relative;
  text-align: center;
  color: #00204a;
}
.row {
  row-gap: 4em;
}
.todays-description {
  font-size: 22px;
  text-transform: capitalize;
}
.temps {
  font-size: 32px;
}
p {
  position: relative;
  display: block;
  margin: 0 auto;
  color: #ffff;
  text-align: center;
  padding-top: 2em;
  font-weight: 500;
}
.units {
  font-size: 18px;
}
.website-url {
  color: #ffff;
}
a.github-url {
  color: #ffff;
}
.search {
  position: relative;
  border: none;
  width: 30%;
  display: block;
  margin: 0 auto;
  padding-top: 2.5em;
}
input.city-input.form-control {
  padding-top: 5em;
  border-radius: 2px;
}
div.col-9 {
  padding-right: 0em;
}
.active {
  color: #00204a;
  cursor: default;
  text-decoration: none;
}
