video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.location {
  font-size: 62px;
  font-weight: 600;
  color: #00204a;
  text-align: center;
}
.day {
  font-size: 28px;
}
.temperature {
  font-size: 28px;
}
.weather-description {
  font-size: 20px;
}
.weather-forecast {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 16px;
}
div.weather-forecast-date {
  font-size: 20px;
}
div.col {
  text-align: center;
}
.tempsize {
  font-size: 80px;
  text-align: center;
}
.container {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 700px;
  padding: 40px 40px;
  color: white;
  background-color: rgba(6, 57, 84, 0.473);
  font-size: 17px;
  border-radius: 10px;
}
.todays-description {
  font-size: 20px;
  text-transform: capitalize;
  padding-bottom: 3em;
  padding-top: 1.5em;
}
.units {
  font-size: 20px;
  color: #ffff;
}
.website-url {
  color: #ffff;
}
a.github-url {
  color: #ffff;
}
.search {
  position: relative;
  border: none;
  width: 30%;
  display: block;
  margin: 0 auto;
  padding-top: 2.5em;
}
input.city-input.form-control {
  padding-top: 5em;
  border-radius: 2px;
}
.active {
  cursor: default;
  text-decoration: none;
  color: #ffff;
}
p {
  position: relative;
  display: block;
  color: #ffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
